.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

li,
.logo,
button,
input {
    list-style: none;
    margin: 10px 10px;
    padding: 10px;
    height: fit-content;
    border: 1px solid white;
    font-size: large;
    border-radius: 30px;
    color: white;
}

button {
    background-color: transparent;
}

ul {
    display: flex;
}

.input {
    padding: 0 !important;
}

input {
    background: white;
    color: black;
}